@use "@angular/material" as mat;

@include mat.core();

$custom-primary-palette: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #022D42,
  300: #9AABB3,
  400: #7B919C,
  500: #022D42, // Vous utilisez cette teinte comme couleur principale
  600: #022D42,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-accent-palette: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #ECFFB7, // Vous utilisez cette teinte comme couleur principale
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-warn-palette: (
  50: #FFFFFC,
  100: #bbdefb,
  200: #DBDDD5,
  300: #64b5f6,
  400: #c7c7bc,
  500: #c7c7bc, // Vous utilisez cette teinte comme couleur principale
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-primary: mat.define-palette($custom-primary-palette);
$custom-accent: mat.define-palette($custom-accent-palette);
$custom-warn: mat.define-palette($custom-warn-palette);

$custom-typography: mat.define-typography-config(
  $font-family: 'Satoshi, sans-serif',
);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

@include mat.all-component-themes($custom-theme);
@include mat.all-component-typographies($custom-typography);