<footer>
  <div class="footer-section logo-section">
    <div class="logo-container">
      <img  src="assets/images/logo/Logo-dark.png" alt="Logo" class="logo"/>
    </div>

    <button mat-icon-button class="linkedin-button">
      <img  src="assets/images/icones/linkedin.svg" alt="Logo" class="linkedin-icone"/>
      <span>Linkedin</span>
    </button>
    <a class="button-contact">Contactez-nous
      <img src="assets/images/icones/Arrow-sombre.svg" alt="Arrow-right" class="arrow-contact"/>
    </a>
  </div>

  <div class="footer-section">
    <span>Solutions</span>
    <ul>
      <li>Destruction d'archives, de documents et de papier</li>
      <li>Destruction DEE de supports médias et informatiques</li>
      <li>Destruction de supports spécifiques</li>
    </ul>
  </div>

  <div class="footer-section">
    <span>Expertises</span>
    <ul>
      <li>Nos types d’intervention</li>
      <li>Nos procédures d’intervention</li>
    </ul>
  </div>

  <div class="footer-section">
    <span>Vision</span>
    <ul>
      <li>Recyclage et valorisation des déchets</li>
      <li>Sécurité et Protection des données</li>
      <li>Que nous dit la loi, la réglementation ?</li>
    </ul>
  </div>
</footer>
  
